<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">WebChat</a>
			<div class="userInfo">
				<img src="./photo/2.jpg" class="photo">
				<span>球球</span>&nbsp;
				<a href="#">[注销]</a>
			</div>
		</div>
	</div>
</nav>
<!--用户列表-->
<div class="panel panel-default listPanel">
	<div class="panel-heading">好友列表</div>
	<div class="panel-body listBody">
		<ul class="list-group listUl">
			<li class="list-group-item listLi">
				<span class="badge">14</span>
				<img src="./photo/1.jpg" class="photo">
				小v
			</li>
			<li class="list-group-item listLi">
				<span class="badge">14</span>
				<img src="./photo/4.jpg" class="photo">
				笨笨
			</li>
		</ul>
	</div>
</div>

<!--聊天窗口-->
<div class="panel panel-default chatPanel">
	<div class="panel-heading">与xxx聊天中</div>
	<div class="panel-body chatBody">

		<div class="msgBody">
			<div class="sigleMsg">
				<img src="./photo/1.jpg" class="photo">
				<div class="chat-box">
					<p>
						Resque (pronounced like "rescue") is a Redis-backed library for creating background jobs, placing those jobs on multiple queues, and processing them later.
					</p>
				</div>
			</div>
			<div class="sigleMsg">
				<img src="./photo/2.jpg" class="photo">
				<div class="chat-box">
					<p>
						Resque (pronounced like "rescue") is a Redis-backed library for creating background jobs, placing those jobs on multiple queues, and processing them later.
					</p>
				</div>
			</div>
			<div class="sigleMsg">
				<img src="./photo/1.jpg" class="photo">
				<div class="chat-box">
					<p>
						Resque (pronounced like "rescue") is a Redis-backed library for creating background jobs, placing those jobs on multiple queues, and processing them later.
					</p>
				</div>
			</div>
			<div class="sigleMsg">
				<img src="./photo/2.jpg" class="photo">
				<div class="chat-box">
					<p>
						Resque (pronounced like "rescue") is a Redis-backed library for creating background jobs, placing those jobs on multiple queues, and processing them later.
					</p>
				</div>
			</div>
			<div class="sigleMsg">
				<img src="./photo/1.jpg" class="photo">
				<div class="chat-box">
					<p>
						Resque (pronounced like "rescue") is a Redis-backed library for creating background jobs, placing those jobs on multiple queues, and processing them later.
					</p>
				</div>
			</div>
			<div class="sigleMsg">
				<img src="./photo/2.jpg" class="photo">
				<div class="chat-box">
					<p>
						Resque (pronounced like "rescue") is a Redis-backed library for creating background jobs, placing those jobs on multiple queues, and processing them later.
					</p>
				</div>
			</div>
		</div>

		<div class="typeBody">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="msg">
				<span class="input-group-btn">
					<button class="btn btn-success" type="button">发送</button>
				</span>
			</div>
		</div>

	</div>
</div>